@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

*{
  -ms-overflow-style: none;  /* IE y Edge antiguos */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}